html {
  /* 영문이면 roboto가 적용되고, 한글이면 Noto Sans KR가 적용되도록 아래와 같은 순서로 배치 */
  font-family: "Roboto", "Noto Sans KR", sans-serif;
}

/* 노말라이즈 */
body,
ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

label[for] {
  cursor: pointer;
  user-select: none;
}

h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}

/* 라이브러리 */
.block {
  display: block;
}

.inline-block {
  display: inline-block;
}

.absolute-left {
  position: absolute;
  left: 0;
}

.absolute-right {
  position: absolute;
  right: 0;
}

.absolute-bottom {
  position: absolute;
  bottom: 0;
}

.absolute-top {
  position: absolute;
  top: 0;
}

.absolute-center {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.absolute-middle {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.absolute-middle.absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.relative {
  position: relative;
}

.cell {
  float: left;
  box-sizing: border-box;
}

.cell-right {
  float: right;
  box-sizing: border-box;
}

.row::after {
  content: "";
  display: block;
  clear: both;
}

.clear-both {
  clear: both;
}

.img-box>img {
  width: 100%;
  display: block;
}

.con {
  margin-left: auto;
  margin-right: auto;
}

.margin-0-auto {
  margin-left: auto;
  margin-right: auto;
}

.text-align-center {
  text-align: center;
}

.text-align-right {
  text-align: right;
}

.line-height-0 {
  line-height: 0;
}

.line-height-0>* {
  line-height: normal;
}

.width-30px {
  width: 30px;
}

.width-35px {
  width: 35px;
}

.width-40px {
  width: 35px;
}

.width-45px {
  width: 35px;
}

.width-50px {
  width: 50px;
}

.width-80px {
  width: 80px;
}

.width-100px {
  width: 100px;
}

.width-100p {
  width: 100%;
}

.width-60p {
  width: 60%;
}

.width-55p {
  width: 55%;
}

.width-50p {
  width: 50%;
}

.width-45p {
  width: 45%;
}

.width-40p {
  width: 40%;
}

.width-30p {
  width: 30%;
}

.width-35p {
  width: 35%;
}

.width-100p-except-30px {
  width: calc(100% - 30px);
}

.width-100p-except-35px {
  width: calc(100% - 35px);
}

.width-100p-except-40px {
  width: calc(100% - 40px);
}

.width-100p-except-50px {
  width: calc(100% - 50px);
}

.width-100p-except-80px {
  width: calc(100% - 80px);
}

.width-100p-except-100px {
  width: calc(100% - 100px);
}

.height-100p {
  height: 100%;
}

.height-50p {
  height: 50%;
}

.border-box {
  box-sizing: border-box;
}

.font-size-dot-8rem {
  font-size: .8rem;
}

.table-row {
  display: table;
}

.table-row.row::after {
  display: inline;
  clear: none;
}

.table-row>.cell {
  float: none;
  display: table-cell;
}

.border-red {
  border: 10px solid red;
}

.border-green {
  border: 10px solid green;
}

.border-blue {
  border: 10px solid blue;
}

.border-gold {
  border: 10px solid gold;
}

.border-pink {
  border: 10px solid pink;
}

/* 라이브러리 - flex */
*>.flex {
  display: flex;
}

*>.flex-grow-1 {
  flex-grow: 1;
}

*>.flex-jc-c {
  justify-content: center;
}

*>.flex-jc-s {
  justify-content: flex-start;
}

*>.flex-jc-e {
  justify-content: flex-end;
}

*>.flex-jc-sb {
  justify-content: space-between;
}

*>.flex-ai-c {
  align-items: center;
}

*>.flex-ai-s {
  align-items: flex-start;
}

*>.flex-ai-e {
  align-items: flex-end;
}

*>.flex-as-s {
  align-self: stretch;
}

*>.flex-as-c {
  align-self: center;
}

*>.flex-as-s {
  align-self: flex-start;
}

*>.flex-as-e {
  align-self: flex-end;
}


*>.flex-column-nowrap {
  flex-flow: column nowrap;
}

*>.flex-column-wrap {
  flex-flow: column wrap;
}

*>.flex-row-wrap {
  flex-flow: row wrap;
}

.flex-ch-basis-0>* {
  flex-basis: 0;
}

*>.flex-1-0-0 {
  flex: 1 0 0;
}

/* 커스텀 */
.con {
  max-width: 1200px;
}

/*-- 헤더시작-- */

/* 탑바시작 */

.top-bar {
  height: 200px;
  width: 100%;
  position: fixed;
  z-index: 99;
  top: 0;
  background-color: #FFF6EA;
}

/* .top-bar>.con {
  flex-direction: column;
} */

.top-bar .top-menu-box {
  width: 100%;
}

.top-bar>.con .brand {
  margin-top: 40px;
}

.top-bar>.con .brand>a {
  font-size: 50px;
  color: #4B7BE5;
  font-family: 'Quicksand';
}

/* 1차 메뉴*/

.top-bar .menu-wrap {
  height: 97px;
  align-items: flex-start;
}

.top-bar .menu-box {
  position: relative;
  width: 100%;
}

.top-bar .menu-box>ul {
  align-items: center;
}

.top-bar .menu-wrap .menu-box>ul>li>a {
  padding: 5px;
  font-size: 25px;
  color: #4B7BE5;
  font-family: 'Dosis'
}

.top-bar .menu-wrap .menu-box>ul>li:first-child>a {
  padding-left: 0;
}

.top-bar .menu-box>ul>li {
  margin: 0 10px;
}

.top-bar .menu-box>ul>li:first-child {
  margin-left: 0;
}

.top-bar .menu-box>ul>li:hover>a {
  border-bottom-color: blue;
}


/* 로그인 */
.top-bar .menu-wrap>.login-box>ul {
  align-items: center;
  height: 49px;
}

.top-bar .login {
  font-family: 'Comfortaa';
  font-size: 20px;
  font-weight: bold;
  padding: 5px 0;
}

/* 2차 메뉴 */

.top-bar .menu-box>ul ul {
  width: 100%;
}

.top-bar .menu-box>ul ul {
  position: absolute;
  visibility: hidden;
  transition: .3s;
  opacity: 0;
  padding-top: 10px;
}

.top-bar .menu-box>ul>li:hover>ul {
  visibility: visible;
  transition: .3s;
  opacity: 1;
}

.top-bar .menu-box>ul ul>li>a {
  padding: 10px;
  font-size: 15px;
  font-family: 'Poor Story';
}


/* 1차메뉴 위에 아이콘 */

.top-bar .menu-box>ul>li:before {
  width: 5px;
  height: 5px;
  border-radius: 100%;
  background-color: #9A70F3;
  content: "";
  display: block;
  margin: 0 auto;
  transform: translateY(300%);
  opacity: 0;
  visibility: hidden;
  transition: .5s;
}

.top-bar .menu-box>ul>li:hover::before {
  opacity: 1;
  visibility: visible;
  transform: translateY(0%);
}

/* 1차메뉴 밑줄효과 */
.top-bar .menu-box>ul>li {
  margin: 0;
  text-transform: uppercase;
}

.top-bar .menu-box>ul>li::after {
  display: block;
  content: "";
  border-bottom: 2px solid #9A70F3;
  transition: .2s ease-in-out;
  transform: scaleX(0);
}

.top-bar .menu-box>ul>li:hover::after {
  transform: scaleX(1);
}

/* 로그인 효과 */

.top-bar .menu-wrap>.login-box>ul>li::after {
  display: block;
  content: "";
  border-bottom: 1px solid black;
  /* border-left: 1px solid red; */
  transform: scale(0);
  transition: .3s;
}

.top-bar .menu-wrap>.login-box>ul>li:hover::after {
  transform: scale(1);
}

/* 2차메뉴 효과 */
.top-bar .menu-wrap>.menu-box>ul ul>li>a::after {
  display: block;
  content: "";
  border-bottom: 1px solid #767BF0;
  transform: scaleX(0);
  transition: .3s;
  transform-origin: 0% 50%;
}

.top-bar .menu-wrap>.menu-box>ul ul>li:hover>a::after {
  transform: scaleX(1);
}

/* --섹션시작-- */

.section {
  height: 1080px;
  position: relative;
}

/* --페이지1 커스텀-- */

.section-inner {
  padding: 80px 50px;
}

.section1 .banner-con {
  position: relative;
}

.top-bar>.side {
  min-width: 50px;
  height: 100%;
}

.top-bar>.con {
  width: 100%;
}

/* 페이지 1 */

/* .section1 .banner-wrap{
  position: absolute;
  left:50%;
  top:50%;
  transform: translateX(-50%) translateY(-50%);
  width: 700px;
} */

/* 슬라이드 관련 */
.section1 .slide-wrap {
  height: 100%;
  margin: 0 50px;
}

/* 화살표 */
.swiper-button-prev::after,
.swiper-button-next::after {
  font-size: 30px;
  color: black;
}

/*섹션1-슬라이드1 */
.section1 .slide-1 .img-box>img {
  width: 40vw;
}

.section1 .slide-1 .txt-box {
  width: 20vw;
}

.section1 .txt-box .txt-wrap {
  flex-direction: column;
  width: 20vw;
}

.section1 .txt-box .txt-wrap p {
  font-size: 1.5vw;
  line-height: .5vw;
  font-family: 'Nanum pen script';
  margin-left: 1vw;
}

.section1 .txt-box .txt-wrap>.b1 {
  display: flex;
  justify-content: flex-start;
  margin-top: 30px;
  margin-bottom: 20px;
  color: #9A70F3;
}

.section1 .txt-box .txt-wrap>.b2 {
  display: flex;
  justify-content: center;
  color: #9A70F3;
  margin-bottom: 20px;
}

.section1 .txt-box .txt-wrap>.b3 {
  display: flex;
  justify-content: flex-end;
  color: #9A70F3;
}

.section1 .txt-box .txt-wrap>.b4 {
  display: flex;
  justify-content: flex-start;
  margin-top: 4vw;
  margin-left: 2vw;
  color: #44A1D4;
}

.section1 .txt-box .txt-wrap>.b5 {
  display: flex;
  justify-content: flex-start;
  margin-top: 2vw;
  color: #44A1D4;
}

.slide-1>.banner-con {
  position: relative;
}

.slide-1 .banner-wrap1 {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

/* 섹션1-슬라이드2 */

.section1 .slide-2 {
  background-image: url(img1/slider2-bg.png);
}

.section1 .slide-2 .txt-img-box-wrap {
  justify-content: center;
  margin-bottom: 20px;
}

.section1 .slide-2 .txt-img-box {
  max-width: 700px;
}

.section1 .slide-2 .banner-img-box {
  max-width: 500px;
}

.section1 .slide-2 .txt-box-wrap {
  flex-direction: column;
  justify-content: space-between;
}

.section1 .slide-2 .txt-box {
  font-size: 10px;
  padding-top: 10px;
  margin-left: 30px;
  width: 100%;
}

.section1 .slide-2 .txt-box>h1 {
  margin-bottom: 10px;
  font-size: 35px;
  font-family: "Sunflower";
  color: #0E185F;
}

.section1 .slide-2 .con {
  flex-direction: column;
}

/* 버튼관련 */

.section1 .slide-2 .txt-box__btn-more1 {
  width: 280px;
  height: 100px;
  border-radius: 17px;
  background-color: #1e52ba;
  color: white;
  border: 3px solid white;
}

.section1 .slide-2 .txt-box__btn-more2 {
  width: 300px;
  height: 100px;
  border-radius: 17px;
  background-color: #003399;
  color: white;
  border: 3px solid white;
}

/* 섹션1-슬라이드3 */

.section1 .slide-3 .banner-img-box {
  max-width: 600px;
  width: 35%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.section1 .slide-3 .banner-txt-box {
  max-width: 795px;
  width: 60%;
  position: absolute;
  top: 50%;
  left: 70%;
  transform: translateX(-50%) translateY(-50%);
}

.section1 .slide-3 .txt-detail {
  width: 130px;
  height: 40px;
  margin-top: 35px;
}

.section .slide-3 .txt-detail>a {
  border: 2px solid black;
  border-radius: 5px;
  font-size: 15px;
  line-height: 40px;
  text-align: center;
  box-sizing: border-box;
  font-family: 'Nanum Gothic';
}


/* 섹션1-슬라이드4 */

.section1 .slide-4 {
  background-color: #F9A5A5;
}

/* .section1 .slide-4 .banner-img-cover{
  width: 50%;
  height: 100%;
} */

.section1 .slide-4 .banner-img-box {
  max-width: 600px;
  width: 47%;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  /* z-index: 9; */
}

.section1 .slide-4 .banner-txt-box {
  max-width: 475px;
  width: 45%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  /* z-index: 9; */
}

.section1 .slide-4 .txt-detail {
  margin-top: 30px;
  width: 160px;
  height: 40px;
}

.section1 .slide-4 .txt-detail>a {
  text-align: center;
  line-height: 50px;
  box-sizing: border-box;
  border: 2px solid white;
  color: white;
  border-radius: 5px;
  position: absolute;
  right: 0;
  padding: 0 10px;
}


/* 섹션 2 */

.section2 {
  background-color: #fffcf4;
  box-sizing: border-box;
  height: 100%;
}

.section2 .con {
  position: relative;
}

.section2 .magazine-header {
  margin-bottom: 50px;
}

.section2 .magazine-sub-header {
  justify-content: flex-end;
  margin-bottom: 30px;
}

.section2 .magazine-sub-header>h3 {
  cursor: pointer;
}

.section2 .magazine-list>ul {
  flex-wrap: wrap;
  justify-content: center;
}

.section2 .magazine-list>ul>li {
  flex: 0 1 33%;
  width: 33%;
  max-width: 33%;
  padding: 10px;
  box-sizing: border-box;
}

.section2 .magazine-list>ul>li>div {
  height: 100%;
}

.section2 .magazine-img-box {
  flex: 1;
  position: relative;
  
}

.section2 .magazine-img-box>img {
  height: 100%;
}

.section2 .magazine-txt-box-wrap {
  flex: 1;
  font-size: 10px;
  position: relative;
  background-color: #FFF8D5;
  border-radius: 0px 10px 10px 0px;
  height: 100%;
}

.section2 .magazine-img-box>.btn {
  border: 2px solid white;
  padding: 5px 10px;
  border-radius: 5px;
  display: inline-block;
  position: absolute;
  bottom: 2%;
  right: 2%;
  color: white;
  cursor: pointer;
  transition: .6s;
}

.section2 .magazine-img-box>.btn:hover{
  background-color: #007aff;
}

.section2 .magazine-txt-box {
  visibility: hidden;
  opacity: 0;
  transition: .5s;
  height: 100%;
}

.section2 .magazine-txt-box.active {
  visibility: visible;
  opacity: 1;
  transition: .5s;
}

.section2 .magazine-txt-box>.img-box {
  height: 100%;
}

.section2 .magazine-txt-box>.img-box>img {
  height: 100%;
}

.section2 .magazine-cover {
  display: none;
  position: absolute;
  top: 0;
}

.section2 .magazine-cover.active {
  display: block;
}

.section2 .magazine-cover>h1 {
  font-family: "Dongle";
  font-size: 35px;
  color: #051367;
  margin-top: 5px;
  margin-bottom: 10px;
}

.section2 .magazine-cover>p {
  font-family: "Hahmlet";
  font-size: 15px;
  font-weight: bold;
  color: #0E185F;
}

/* 섹션 3 */

.section3 {
  background-color: #163784;
}

.section3 .pb-story__header {
  color: white;
  margin-bottom: 50px;
}

.section3 .pb-story__sub-header {
  justify-content: flex-end;
}

.section3 .pb-story__sub-header>h3 {
  cursor: pointer;
  color: white;
}

.section3 .pb-story__nav-btn {
  position: relative;
  color: white;
  margin-bottom: 30px;
}

.section3 .pb-story__nav-btn>ul {
  justify-content: center;
}

.section3 .pb-story__nav-btn>ul>li {
  padding: 10px;
  margin: 0 10px;
  cursor: pointer;
}

.section3 .story-list>ul {
  flex-wrap: wrap;
}

.section3 .story-list>ul>li {
  flex: 0 1 50%;
  max-width: 50%;
  width: 50%;
  padding: 10px;
  box-sizing: border-box;
}

.section3 .list-item {
  margin-bottom: 35px;
  background-color: #FFFFFF;
}

.section3 .story-list .img-box {
  flex: 1;
  margin-right: 20px;
}

.section3 .story-list .story-txt-box {
  flex: 1;
}

.section3 .story-list {
  color: black;
}

.section3 .story-txt-box__title {
  font-size: 1.2rem;
  text-align: center;
  font-family: "Nanum Gothic";
  margin-top: 20px;
  margin-bottom: 15px;
  color: #4B7BE5;
}

.section3 .story-txt-box__sub-title {
  font-size: 1.2rem;
  margin-bottom: 20px;
  font-family: "Gowun Dodum";
}

.section3 .story-txt-box__date {
  font-size: 10px;
}

.section3 .taps>li {
  cursor: pointer;
}

.section3 .taps>li.active {
  text-decoration: underline;
}

.section3 .swiper-wrapper>.swiper-slide {
  transition: 1s;
}

/* 섹션 4 */

.section4 {
  background-color: #FBF8F1;
}

.section4>.swiper {
  /* height: 100%; */
}

.section4 .pb-products__header {
  margin-bottom: 50px;
}

.section4 .pb-products__sub-header {
  justify-content: flex-end;
}

.section4 .pb-products__sub-header>h3{
  cursor: pointer;
}

.section4 .pb-products__nav-btn {
  margin-bottom: 30px;
}

.section4 .pb-products__nav-btn>ul {
  justify-content: center;
}

.section4 .pb-products__nav-btn>ul>li {
  padding: 10px;
  margin: 0 10px;
  cursor: pointer;
}


.section4 .products__header {
  margin-top: 30px;
  margin-bottom: 30px;
  justify-content: center;
}

.products__sub-header {
  justify-content: flex-end;
}

.section4 .swiper-con {
  width: 100%;
}

.section4 .bread-box,
.cake-box,
.sandwich-box {
  padding: 50px 0;
  position: relative;
}

/* 브레드박스 버튼 */
.section4 .bread-box> .swiper-button-prev{
  top: 0;
  left: 40%;
} 

.section4 .bread-box> .swiper-button-next{
  top:0;
  right: 40%;
}

/* 케이크박스 버튼 */
.section4 .cake-box> .swiper-button-prev{
  top: 0;
  left: 40%;
}

.section4 .cake-box> .swiper-button-next{
  top:0;
  right: 40%;
}

/* 샌드위치&샐러드 버튼 */
.section4 .sandwich-box .swiper-button-prev{
  top: 0;
  left: 40%;
}

.section4 .sandwich-box> .swiper-button-next{
  top:0;
  right: 40%;
}

.section4 .bread-box>.swiper-button-prev::after{
  display:none;
}

.section4 .bread-box>.swiper-button-next::after{
  display:none;
}

.section4 .cake-box>.swiper-button-prev::after{
  display:none;
}

.section4 .cake-box>.swiper-button-next::after{
  display:none;
}

.section4 .sandwich-box>.swiper-button-prev::after{
  display:none;
}

.section4 .sandwich-box>.swiper-button-next::after{
  display:none;
}

.section4 .swiper-slide {
  justify-content: center;
}

.section4 .taps>li.active {
  text-decoration: underline;
}

.section4 .img-box {
  flex: 1 1 44%;
  width: 44%;
  max-width: 44%;
  margin-right: 20px;
}

.section4 .txt-box {
  flex: 1 1 40%;
  width: 40%;
  max-width: 40%;
}


/* 폰트관련 */
.section4 .txt-box__title {
  margin-bottom: 15px;
}

.section4 .txt-box__title>h1 {
  font-size: 1.3rem;
  font-family: "Nanum Gothic";
}

.section4 .txt-box__sub-title>p {
  font-size: 18px;
  font-family: "Sunflower";
}

/* 섹션 5 */

.section5 .promotion-header {
  margin-bottom: 50px;
}

.section5 .promotion-sub-header {
  justify-content: flex-end;
  margin-bottom: 30px;
}

.section5 .promotion-sub-header>h3 {
  cursor: pointer;
}

.section5 .promotion-list>ul {
  flex-wrap: wrap;
}

.section5 .promotion-list>ul>li {
  flex: 0 1 50%;
  width: 50%;
  max-width: 50%;
  padding: 10px;
  box-sizing: border-box;
}

.section5 .list-item {
  margin-bottom: 35px;
}

.section5 .promotion-img-box {
  flex: 1;
  margin-right: 20px;
}

.section5 .promotion-txt-box {
  flex: 1;
}

.section5 .category {
  margin-bottom: 10px;
  font-size: 13px;
}

.section5 .txt-box__title {
  font-size: 20px;
  margin-bottom: 13px;
}

.section5 .txt-box__sub-title {
  margin-bottom: 15px;
  font-size: 14px;
}

.section5 .txt-box__date {
  font-size: 5px;

}

/* --풋터시작-- */
.footer {
  position: relative;
}

.footer .footer-inner {
  padding: 0 50px;
}

.footer>.footer-wrap>.footer-bg {
  background-color: #767BF0;
  height: 333px;
  position: relative;
}

.footer .footer-menu>ul {
  margin-right: 20%;
}

.footer .footer-menu>ul>li {
  flex-direction: column;
  flex-shrink: 0;
}

.footer .footer-menu>ul>li>a {
  margin-top: 65px;
  color: #FFFFFF;
  font-size: 17px;
  cursor: auto;
  font-family: 'Montserrat Alternates'
}

.footer .footer-menu>ul ul {
  margin-top: 35px;
}

.footer .footer-menu ul ul>li>a {
  padding: 5px 0;
  color: #FFFFFF;
  font-size: 15px;
  font-family: 'Inconsolata';
}

/* <--반응형--> */
/* break point
$tablet : 768px;
$laptop : 1020px;
$desktop :1400px; */

/* 탑메뉴 */
@media(max-width: 880px){
  .top-bar{
    height: 150px;
    position:static;
  }

  .top-bar>.con .brand>a{
    font-size: 30px;
  }
  .top-bar .menu-wrap .menu-box>ul>li>a{
    font-size: 15px;
  }
  .top-bar .login{
    font-size: 13px;
  }
}

/* 모바일 */
@media(max-width: 767px){
  
}


/* --섹션 1-- */
/* 태블릿 */
@media(max-width: 1023px){
  .section1 .slide-2 .txt-box>h1{
    font-size: 25px;
  }

  .section1 .slide-2 .button-box{
    flex-direction: column;
  }

  .section1 .slide-2 .txt-box{
    margin-bottom: 40px;
  }

  .section1 .slide-2 .txt-box__btn-more1{
    width: 200px;
    height: 80px;
  }

  .section1 .slide-2 .txt-box__btn-more2{
    width: 250px;
    height: 80px;
  }
}

@media(max-width: 880px){
  .section1{
    max-height: 700px;
  }
  .section1 .slide-2 .txt-box{
    margin-left: 5px;
  }
  .section1 .slide-2 .txt-box>h1{
    font-size: 20px;
  }
}
/* 모바일 */
@media(max-width: 767px) {
  .section1 .slide-2 .txt-box{
    margin-bottom: 0;
  }
}

/* --섹션 2-- */
@media(max-width: 1140px){
  .section2 .magazine-cover>h1{
    font-size: 30px;
    margin-bottom:0;
  }
  .section2 .magazine-cover>p{
    font-size: 13px;
  }
}

/* 태블릿 */
@media(max-width: 1023px) and (min-width: 768px) {
  .section2 .magazine-list>ul>li{
    flex: 0 1 50%;
    width: 50%;
    max-width: 50%;
  }
}


/* 모바일 */
@media(max-width: 767px) {
  .section2{
    height: 100%;
  }

  .section2 .magazine-list>ul>li{
    flex: 0 1 100%;
    width: 100%;
    max-width: 100%;
  }
  .section2 .magazine-list>ul>li>div{
    
  }
}

/* --섹션 3-- */
.section3 .pb-story__body-tablet{
  display:none;
}

@media(max-width: 1140px){
  .section3 .story-txt-box>h1{
    font-size:1rem;
  }
  .section3 .story-txt-box>h2{
    font-size:1rem;
  }
}

/* 태블릿 */
@media(max-width: 1023px) and (min-width: 768px){
  .section3{
    height: 100%;
  }
  
  .section3 .pb-story__header{
    margin-bottom:20px;
  }

  .section3 .list-item{
    flex-direction: column;
    padding:0;
    margin-bottom:0;
  }

  .section3 .story-list>ul>li{
    flex : 0 1 50%;
    display:flex;
    justify-content: center;
    min-height: 410px;
    padding: 0 10px;
  }
  .section3 .list-item{
    max-width: 200px;
    max-height: 400px;
  }
  .section3 .story-list .img-box{
    margin-right: 0;
    max-width: 200px;
    flex: 1;
  }

  .section3 .story-list .story-txt-box{
    flex:1;
  }
  
  .section3 .story-txt-box__sub-title{
    margin-bottom:5px;
    padding:0 10px;
  }

  .section3 .story-txt-box__date{
    padding: 0 10px;
  }
}

/* 모바일 */
@media(max-width: 767px) {
  .section3{
    height: 100%;
  }

  .section3 .story-list>ul>li{
    flex: 0 1 100%;
    width: 100%;
    max-width: 100%;
  }
}

/* --섹션 4--*/
/* 태블릿 */
@media(max-width: 1023px) {
  .section4{
    height: 100%;
  }
}
/* 모바일 */
@media(max-width: 767px) {

}

/* --섹션 5-- */
/* 태블릿 */
@media(max-width: 1023px) {
  .section5{
    height: 100%;
  }
  
  .section5 .promotion-list>ul>li{
    flex: 0 1 100%;
    width: 100%;
    max-width: 100%;
  }
}
/* 모바일 */
@media(max-width: 767px) {

}

